### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

### Spring Boot ###
*.log
logs/
*.pid
*.seed

### Environment / Credentials ###
.env
*.env

### OS ###
.DS_Store
Thumbs.db

### IDE ###
# IntelliJ IDEA
.idea/
*.iim
*.iml
*.ipr
*.iws

# Eclipse
.project
.classpath
.factorypath
.settings/
.apt_generated
.springBeans
.sts4-cache

# VS Code
.vscode/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Build tools ###
build/
out/

### Misc ###
HELP.md
mvnw.cmd
mvnw
.mvn/
